<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:appstudio="http://schemas.microsoft.com/developer/appx/2015/appstudio" IgnorableNamespaces="uap mp appstudio">
  <Identity Name="59371RafasTavares.UnitSocial" Publisher="CN=88C2E049-D5AE-41ED-ABD7-4F7BAF9AB825" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="74c54f8c-e1c2-4065-9de2-65d9a547916a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Unit Social</DisplayName>
    <PublisherDisplayName>Unit Social</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10240.0" MaxVersionTested="10.0.10240.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UnitSocial.App">
      <uap:VisualElements DisplayName="Unit Social" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Cansado de perder alguma noticia sobre a Unit?! Eu também ESTAVA, por isso criei esse aplicativo que reune as principais redes sociais da universidade centralizando em um só aplicativo. Nunca mais fico por fora de alguma notícia." BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#4774ab" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <appstudio:Metadata>
    <appstudio:Item Name="appId" Value="74c54f8c-e1c2-4065-9de2-65d9a547916a" />
    <appstudio:Item Name="model" Version="1.13" />
    <appstudio:Item Name="formula" Value="Win10" Version="1.12.0214.1" />
    <appstudio:Item DataSource="Facebook" Version="1.1.*" />
    <appstudio:Item DataSource="Twitter" Version="1.1.*" />
    <appstudio:Item DataSource="YouTube" Version="1.1.*" />
    <appstudio:Item DataSource="Instagram" Version="1.1.*" />
    <appstudio:Item DataSource="Flickr" Version="1.1.*" />
  </appstudio:Metadata>
</Package>